lib-cov
*.seed
*.log

pids
logs
results
tmp
coverage

# API keys
.env

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Dont commit the package lock
package-lock.json
