<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>FT tech tests</title>
<title>{{title}}</title>
<link rel="stylesheet" href="https://www.ft.com/__origami/service/build/v2/bundles/css?modules=o-normalise,o-header-services,o-fonts,o-typography" />
<link rel="stylesheet" href="/css/main.css">
</head>
<body>

{{> header}}

{{{body}}}

{{> footer}}

<script src="/js/main.js"></script>

</body>
</html>
